# ITCS 6162: Data Mining - Programming Assignment

**In this assignment, you will explore data analysis, recommendation algorithms, and graph-based techniques using the MovieLens dataset. Your tasks will range from basic data exploration to advanced recommendation models, including:**
- Data manipulation with pandas
- User-item collaborative filtering
- Similarity-based recommendation models
- A Pixie-inspired Graph-based recommendation using adjacency lists with weighted random walks (without using NetworkX)

#### **Dataset Files:**
- **`u.data`**: User-movie ratings (`user_id  movie_id  rating  timestamp`)
- **`u.item`**: Movie metadata (`movie_id | title | release date | IMDB_website`)
- **`u.user`**: User demographics (`user_id | age | gender | occupation | zip_code`)

## **Part 1: Exploring and Cleaning Data**

### Inspecting the Dataset Format

The dataset is not in a traditional CSV format. To examine its structure, use the following shell command to display the first 10 lines of the file:

```sh
!head <file_name>

**In the cells given below. Write the code to read the files.**

In [105]:
!head u.data

head: u.data: No such file or directory

In [106]:
!head u.item

head: u.item: No such file or directory

In [107]:
!head u.user

head: u.user: No such file or directory

#### Loading the Dataset with Pandas

Use **pandas** to load the dataset into a DataFrame for analysis. Follow these steps:  

1. Import the necessary library: `pandas`.  
2. Use `pd.read_csv()` (or an appropriate function) to read the dataset file.  
3. Ensure the dataset is loaded with the correct delimiter (e.g., `','`, `'\t'`,`'|'` , or another separator if needed).  
4. Select and display the first few rows using `.head()`.

Ensure that:  

- The `ratings` dataset is read from `"u.data"` using tab (`'\t'`) as a separator and column names (`"user_id"`, `"movie_id"`, `"rating"` and `"timestamp"`).  
- The `movies` dataset is read from `"u.item"` using `'|'` as a separator, use columns (`0`, `1`, `2`), encoding (`"latin-1"`) and name the columns (`movie_id`, `title`, and `release_date`).  
- The `users` dataset is read from `"u.user"` using `'|'` as a separator, use columns (`0`, `1`, `2`, `3`) and name the columns (`user_id`, `age`, `gender`, and `occupation`).

In [111]:
import pandas as pd

ratings = pd.read_csv("raw_data/u.data", sep = '\t', names = ["user_id", "movie_id", "rating", "timestamp"])
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [112]:
movies = pd.read_csv("raw_data/u.item", sep = '|', usecols = [0, 1, 2], encoding = "latin-1", names = ["movie_id", "title", "release_date"])
movies.head()

   movie_id              title release_date
0         1   Toy Story (1995)  01-Jan-1995
1         2   GoldenEye (1995)  01-Jan-1995
2         3  Four Rooms (1995)  01-Jan-1995
3         4  Get Shorty (1995)  01-Jan-1995
4         5     Copycat (1995)  01-Jan-1995

In [113]:
users = pd.read_csv("raw_data/u.user", sep = '|', usecols = [0, 1, 2, 3], names = ["user_id", "age", "gender", "occupation"])
users.head()

   user_id  age gender  occupation
0        1   24      M  technician
1        2   53      F       other
2        3   23      M      writer
3        4   24      M  technician
4        5   33      F       other

**Note:** As a **Bonus** task save the `ratings`, `movies` and `users` dataframe created into a `.csv` file format. <br>
**Hint:** Use the `to_csv()` function in pandas to save these DataFrames as CSV files.

In [115]:
ratings.to_csv("ratings.csv")

In [116]:
movies.to_csv("movies.csv")

In [117]:
users.to_csv("users.csv")

**Display the first 10 rows of each file.**

In [119]:
ratings.head(10)

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596
5      298       474       4  884182806
6      115       265       2  881171488
7      253       465       5  891628467
8      305       451       3  886324817
9        6        86       3  883603013

In [120]:
movies.head(10)

   movie_id                                              title release_date
0         1                                   Toy Story (1995)  01-Jan-1995
1         2                                   GoldenEye (1995)  01-Jan-1995
2         3                                  Four Rooms (1995)  01-Jan-1995
3         4                                  Get Shorty (1995)  01-Jan-1995
4         5                                     Copycat (1995)  01-Jan-1995
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  01-Jan-1995
6         7                              Twelve Monkeys (1995)  01-Jan-1995
7         8                                        Babe (1995)  01-Jan-1995
8         9                            Dead Man Walking (1995)  01-Jan-1995
9        10                                 Richard III (1995)  22-Jan-1996

In [121]:
users.head(10)

   user_id  age gender     occupation
0        1   24      M     technician
1        2   53      F          other
2        3   23      M         writer
3        4   24      M     technician
4        5   33      F          other
5        6   42      M      executive
6        7   57      M  administrator
7        8   36      M  administrator
8        9   29      M        student
9       10   53      M         lawyer

### Data Cleaning and Exploration with Pandas  

After loading the dataset, it’s important to clean and explore the data to ensure consistency and accuracy. Below are key **pandas** functions for cleaning and understanding the dataset.

#### 1. Handle Missing Values  
- `df.dropna()` – Removes rows with missing values.  
- `df.fillna(value)` – Fills missing values with a specified value.  

#### 2. Remove Duplicates  
- `df.drop_duplicates()` – Drops duplicate rows from the dataset.  

#### 3. Handle Incorrect Data Types  
- `df.astype(dtype)` – Converts columns to the appropriate data type.  

#### 4. Filter Outliers (if applicable)  
- `df[df['column_name'] > threshold]` – Filters rows based on a condition.  

#### 5. Rename Columns (if needed)  
- `df.rename(columns={'old_name': 'new_name'})` – Renames columns for clarity.  

#### 6. Reset Index  
- `df.reset_index(drop=True, inplace=True)` – Resets the index after cleaning.  

### Data Exploration Functions  

To better understand the dataset, use these **pandas** functions:  

- `df.shape` – Returns the number of rows and columns in the dataset.  
- `df.nunique()` – Displays the number of unique values in each column.  
- `df['column_name'].unique()` – Returns unique values in a specific column.  

**Example Usage in Pandas:**  
```python
import pandas as pd

# Load dataset
df = pd.read_csv("your_file.csv")

# Drop missing values
df_cleaned = df.dropna()

# Remove duplicate rows
df_cleaned = df_cleaned.drop_duplicates()

# Convert 'timestamp' column to datetime format
df_cleaned['timestamp'] = pd.to_datetime(df_cleaned['timestamp'])

# Display dataset shape
print("Dataset shape:", df_cleaned.shape)

# Display number of unique values in each column
print("Unique values per column:\n", df_cleaned.nunique())

# Display unique movie IDs
print("Unique movie IDs:", df_cleaned['movie_id'].unique()[:10])  # Show first 10 unique movie IDs

**Note:** The functions mentioned above are some of the widely used **pandas** functions for data cleaning and exploration. However, it is not necessary that all of these functions will be required in the exercises below. Use them as needed based on the dataset and the specific tasks.

**Convert Timestamps into Readable dates.**

In [125]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

**Check for Missing Values**

In [127]:
ratings.isnull().sum()
ratings = ratings.dropna().drop_duplicates()

In [128]:
movies.isnull().sum()
movies = movies.dropna().drop_duplicates()

In [129]:
users.isnull().sum()
users = users.dropna().drop_duplicates()

**Print the total number of users, movies, and ratings.**

In [131]:
print(f"Total Users: {users.shape }")
print(f"Total Movies: { movies.shape }")
print(f"Total Ratings: { ratings.shape }")

Total Users: (943, 4)
Total Movies: (1681, 3)
Total Ratings: (100000, 4)

## **Part 2: Collaborative Filtering-Based Recommendation**

### **Create a User-Item Matrix**

#### Instructions for Creating a User-Movie Rating Matrix

In this exercise, you will create a user-movie rating matrix using **pandas**. This matrix will represent the ratings that users have given to different movies.

1. **Dataset Overview**:  
   The dataset has already been loaded. It includes the following key columns:
   - `user_id`: The ID of the user.
   - `movie_id`: The ID of the movie.
   - `ratings`: The rating the user gave to the movie.

2. **Create the User-Movie Rating Matrix**:  
   Use the **`pivot()`** function in **pandas** to reshape the data. Your goal is to create a matrix where:
   - Each **row** represents a **user**.
   - Each **column** represents a **movie**.
   - Each **cell** contains the **rating** that the user has given to the movie.

   Specify the following parameters for the `pivot()` function:
   - **`index`**: The `user_id` column (this will define the rows).
   - **`columns`**: The `movie_id` column (this will define the columns).
   - **`values`**: The `rating` column (this will fill the matrix with ratings).

3. **Inspect the Matrix**:  
   After creating the matrix, examine the first few rows of the resulting matrix to ensure it has been constructed correctly.

4. **Handle Missing Values**:  
   It's likely that some users have not rated every movie, resulting in `NaN` values in the matrix. You will need to handle these missing values. Consider the following options:
   - **Fill with 0**: If you wish to represent missing ratings as zeros (indicating no rating).
   - **Fill with the average rating**: Alternatively, replace missing values with the average rating for each movie.

**Create the user-movie rating matrix using the `pivot()` function.**

In [137]:
user_movie_matrix = ratings.pivot(index = 'user_id', columns='movie_id', values='rating')

**Display the matrix to verify the transformation.**

In [139]:
user_movie_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **User-Based Collaborative Filtering Recommender System**

#### **Objective**
In this task, you will implement a **user-based collaborative filtering** movie recommendation system using the **Movie dataset**. The goal is to recommend movies to a user based on the preferences of similar users.

##### **Step 1: Import Required Libraries**
Before starting, ensure you have the necessary libraries installed. Use the following imports:

```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing user similarity
```

##### **Step 2: Compute User-User Similarity**
- We will use **cosine similarity** to measure how similar each pair of users is based on their movie ratings.
- Since `cosine_similarity` does not handle missing values (NaN), replace them with `0` before computation.

##### **Instructions:**
1. Fill missing values with `0` using `.fillna(0)`.
2. Compute similarity using `cosine_similarity()`.
3. Convert the result into a **Pandas DataFrame**, with users as both row and column labels.

##### **Hint:**  
You can achieve this using the following approach:

```python
user_similarity = cosine_similarity(user_movie_matrix.fillna(0))
user_sim_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)
```

##### **Step 3: Implement the Recommendation Function**
Now, implement the function `recommend_movies_for_user(user_id, num=5)` to recommend movies for a given user.

##### **Function Inputs:**
- `user_id`: The target user for whom we need recommendations.
- `num`: The number of movies to recommend (default is 5).

##### **Function Steps:**
1. Find **similar users**:
   - Retrieve the similarity scores for the given `user_id`.
   - Sort them in **descending** order (highest similarity first).
   - Exclude the user themselves.
   
2. Get the **movie ratings** from these similar users.

3. Compute the **average rating** for each movie based on these users' preferences.

4. Sort the movies in **descending order** based on the computed average ratings.

5. Retrieve the **top `num` recommended movies**.

6. Map **movie IDs** to their **titles** using the `movies` DataFrame.

7. Return the results as a **Pandas DataFrame** with rankings.

##### **Step 4: Return the Final Recommendation List**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

##### **Hint:** Your final DataFrame should be created like this:
```python
result_df = pd.DataFrame({
    'Ranking': range(1, num+1),
    'Movie Name': movie_names     
})
result_df.set_index('Ranking', inplace=True)
```

#### **Example: User-Based Collaborative Filtering**
```python
recommend_movies_for_user(10, num = 5)
```
**Output:**
```
| Ranking | Movie Name                     |
|---------|--------------------------------|
| 1       | In the Company of Men (1997)   |
| 2       | Misérables, Les (1995)         |
| 3       | Thin Blue Line, The (1988)     |
| 4       | Braindead (1992)               |
| 5       | Boys, Les (1997)               |

In [147]:
### Code the function here
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing user similarity

user_similarity = cosine_similarity(user_movie_matrix.fillna(0))
user_sim_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)

def recommend_movies_for_user(user_id, num=5):
    # Find similar users:
    # Retrieve the similarity scores for the given user_id.
    sim_score = user_sim_df.loc[user_id]
    
    # Sort them in descending order (highest similarity first).
    # Exclude the user themselves.
    sim_score_sorted = sim_score.sort_values(ascending=False).drop(user_id)
    
    # Get the movie ratings from these similar users.
    weighted_averages = {}

    for movie_id in user_movie_matrix.columns:
    # Compute the average rating for each movie based on these users' preferences.

        ratings_for_movie_id = (user_movie_matrix.loc[sim_score_sorted.index]).iloc[:, movie_id - 1].dropna()

        top_ratings = ratings_for_movie_id
        top_weights = sim_score_sorted.loc[top_ratings.index]
        
        if top_weights.sum() == 0:
            weighted_avg = float('nan')
        else:
            weighted_avg = (top_ratings * top_weights).sum()/ top_weights.sum()
        
        weighted_averages[movie_id] = weighted_avg

    # Sort the movies in descending order based on the computed average ratings.
    weighted_avg_series = pd.Series(weighted_averages)
    recommended_movies = weighted_avg_series.sort_values(ascending=False).head(num)
    
    # Retrieve the top num recommended movies.
    recommended_movie_ids = recommended_movies.index
    result = movies[movies['movie_id'].isin(recommended_movie_ids)]
    
    result = result.set_index('movie_id').loc[recommended_movie_ids]
    
    movie_names = result['title'].tolist()

    result_df = pd.DataFrame({
        'Ranking': range(1, num+1),
        'Movie Name': movie_names     
    })
    result_df.set_index('Ranking', inplace=True)

    return result_df

print(recommend_movies_for_user(10))

                                         Movie Name
Ranking
1                         Santa with Muscles (1996)
2                    They Made Me a Criminal (1939)
3                     Someone Else's America (1995)
4        Marlene Dietrich: Shadow and Light (1996)
5              Saint of Fort Washington, The (1993)

## `recommend_movies_for_user` Function Details

Handle all of the imports for the function.
```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing user similarity
```

Find the `user_sim_df` table based on the `user_similarity` where the rows and columns are the users. We are making a similar dataset for all users to one another. 
```python
user_similarity = cosine_similarity(user_movie_matrix.fillna(0))
user_sim_df = pd.DataFrame(user_similarity, index=user_movie_matrix.index, columns=user_movie_matrix.index)
```

Create the `recommend_movies_for_user` function where the input is the `user_id` and `num`. Find the similarity score for a given user using `user_id`. Then, find the `sim_score_sorted` using the sorted values in `sim_score` and drop the current user from the table (since they always have the highest similarity -> 1.0). Finally, create a `weighted_averages` to store all the weighted_averages for each and every column. 
```python
def recommend_movies_for_user(user_id, num=5):
    sim_score = user_sim_df.loc[user_id]
    
    sim_score_sorted = sim_score.sort_values(ascending=False).drop(user_id)
    
    weighted_averages = {}
```

Loop through each column. For each `movie_id` in the column, determine the top ratings for each `movie_id` after dropping each user that has a `NAN`. Once we have the `top_ratings`, we can now find the `top_weights`. Then, we determine if the `top_weight` is equal to zero. If they are, we will need to replace the number with `weighted_avg` for this `movie_id` with a `nan`. If it is not, we need to compute the weighted average with all of the `top_ratings`. Once computed, we will add the `weighted_avg` as the value in the dictionary with the key `movie_id`. 
```python
    for movie_id in user_movie_matrix.columns:

        ratings_for_movie_id = (user_movie_matrix.loc[sim_score_sorted.index]).iloc[:, movie_id - 1].dropna()

        top_ratings = ratings_for_movie_id
        top_weights = sim_score_sorted.loc[top_ratings.index]

        if top_weights.sum() == 0:
            weighted_avg = float('nan')
        else:
            weighted_avg = (top_ratings * top_weights).sum()/ top_weights.sum()
        
        weighted_averages[movie_id] = weighted_avg
```

Then, we will make the dictionary `weighted_averages` a Series and sort to find the top num ratings.
```python
    weighted_avg_series = pd.Series(weighted_averages)
    recommended_movies = weighted_avg_series.sort_values(ascending=False).head(num)
```

Finally, we format the output and return it to the user in a readable format.
```python
    recommended_movie_ids = recommended_movies.index
    result = movies[movies['movie_id'].isin(recommended_movie_ids)]
    
    result = result.set_index('movie_id').loc[recommended_movie_ids]
    
    movie_names = result['title'].tolist()

    result_df = pd.DataFrame({
        'Ranking': range(1, num+1),
        'Movie Name': movie_names     
    })
    result_df.set_index('Ranking', inplace=True)

    return result_df
```

### **Item-Based Collaborative Filtering Recommender System**

#### **Objective**
In this task, you will implement an **item-based collaborative filtering** recommendation system using the **Movie dataset**. The goal is to recommend movies similar to a given movie based on user rating patterns.

#### **Step 1: Import Required Libraries**
Although we have done this part already in the previous task but just to emphasize the importance reiterrating this part.

Before starting, ensure you have the necessary libraries installed. Use the following imports:

```python
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing item similarity
```

#### **Step 2: Compute Item-Item Similarity**
- We will use **cosine similarity** to measure how similar each pair of movies is based on their user ratings.
- Since `cosine_similarity` does not handle missing values (NaN), replace them with `0` before computation.
- Unlike user-based filtering, we need to **transpose** (`.T`) the `user_movie_matrix` because we want similarity between movies (columns) instead of users (rows).

##### **Instructions:**
1. Transpose the user-movie matrix using `.T` to make movies the rows.
2. Fill missing values with `0` using `.fillna(0)`.
3. Compute similarity using `cosine_similarity()`.
4. Convert the result into a **Pandas DataFrame**, with movies as both row and column labels.

##### **Hint:**  
You can achieve this using the following approach:

```python
item_similarity = cosine_similarity(user_movie_matrix.T.fillna(0))
item_sim_df = pd.DataFrame(item_similarity, index=user_movie_matrix.columns, columns=user_movie_matrix.columns)
```

#### **Step 3: Implement the Recommendation Function**
Now, implement the function `recommend_movies(movie_name, num=5)` to recommend movies similar to a given movie.

##### **Function Inputs:**
- `movie_name`: The target movie for which we need recommendations.
- `num`: The number of similar movies to recommend (default is 5).

##### **Function Steps:**
1. Find the **movie_id** corresponding to the given `movie_name` in the `movies` DataFrame.
2. If the movie is not found, return an appropriate message.
3. Extract the **similarity scores** for this movie from `item_sim_df`.
4. Sort the movies in **descending order** based on similarity (excluding the movie itself).
5. Retrieve the **top `num` similar movies**.
6. Map **movie IDs** to their **titles** using the `movies` DataFrame.
7. Return the results as a **Pandas DataFrame** with rankings.

#### **Step 4: Return the Final Recommendation List**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

##### **Hint:** Your final DataFrame should be created like this:
```python
result_df = pd.DataFrame({
    'ranking': range(1, num+1),
    'movie_name': movie_names
})
result_df.set_index('ranking', inplace=True)
```

#### **Example: Item-Based Collaborative Filtering**
```python
recommend_movies("Jurassic Park (1993)", num=5)
```
**Output:**
```
| Ranking | Movie Name                               |
|---------|------------------------------------------|
| 1       | Top Gun (1986)                           |
| 2       | Empire Strikes Back, The (1980)          |
| 3       | Raiders of the Lost Ark (1981)           |
| 4       | Indiana Jones and the Last Crusade (1989)|
| 5       | Speed (1994)                             |

In [156]:
# Code the function here
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing item similarity

item_similarity = cosine_similarity(user_movie_matrix.T.fillna(0))
item_sim_df = pd.DataFrame(item_similarity, index=user_movie_matrix.columns, columns=user_movie_matrix.columns)

def recommend_movies(movie_name, num=5):
    target_movie = movies[movies['title'] == movie_name]
    target_movie_id = target_movie.iloc[0]['movie_id']
    
    sim_scores = item_sim_df.loc[target_movie_id]

    sim_scores_sorted = sim_scores.sort_values(ascending=False).drop(target_movie_id)

    top_movie_ids = sim_scores_sorted.head(num).index

    recommended_movies = movies[movies['movie_id'].isin(top_movie_ids)]
    recommended_movies = recommended_movies.set_index('movie_id').loc[top_movie_ids]

    movie_names = recommended_movies['title'].tolist()
    
    result_df = pd.DataFrame({
        'Ranking': range(1, len(movie_names) + 1),
        'Movie Name': movie_names
    })
    
    result_df.set_index('Ranking', inplace=True)
    
    return result_df

print(recommend_movies("Jurassic Park (1993)", num=5))

                                        Movie Name
Ranking
1                                   Top Gun (1986)
2                                     Speed (1994)
3                   Raiders of the Lost Ark (1981)
4                  Empire Strikes Back, The (1980)
5        Indiana Jones and the Last Crusade (1989)

## `recommend_movies` Function Details

Handle all of the imports for the function.
```python
# Code the function here
import pandas as pd  # For handling data
import numpy as np   # For numerical computations
from sklearn.metrics.pairwise import cosine_similarity  # For computing item similarity
```

Find the `item_sim_df` table based on the `item_similarity` where the rows and columns are the items. We are making a similarity dataset for all items (which are the movies) to one another. 
```python
item_similarity = cosine_similarity(user_movie_matrix.T.fillna(0))
item_sim_df = pd.DataFrame(item_similarity, index=user_movie_matrix.columns, columns=user_movie_matrix.columns)
```

Create the `recommend_movies` function where we have `movie_name` and `num`. The target movie's ID is determined using the name `target_movie_id` and `target_movie` variables. 
```python
def recommend_movies(movie_name, num=5):
    target_movie = movies[movies['title'] == movie_name]
    target_movie_id = target_movie.iloc[0]['movie_id']
```

Then a `sim_scores` is determined using the `target_movie_id`. This will give a column that contains the similarity between movies and all other movies. Then we will find the most similar movies and drop the current movie ID. Finally, we will find the most similar `top_movie_ids` using the `num` variable. 
```python
    sim_scores = item_sim_df.loc[target_movie_id]

    sim_scores_sorted = sim_scores.sort_values(ascending=False).drop(target_movie_id)

    top_movie_ids = sim_scores_sorted.head(num).index
```

Finally, we will curate the movies in a visually appealing list using the id, and output to the user in a readable format.
```python
    recommended_movies = movies[movies['movie_id'].isin(top_movie_ids)]
    recommended_movies = recommended_movies.set_index('movie_id').loc[top_movie_ids]

    movie_names = recommended_movies['title'].tolist()
    
    result_df = pd.DataFrame({
        'Ranking': range(1, len(movie_names) + 1),
        'Movie Name': movie_names
    })
    
    result_df.set_index('Ranking', inplace=True)
    
    return result_df
```

## **Part 3: Graph-Based Recommender (Pixie-Inspired Algorithm)**

### **Adjacency List**

#### **Objective**
In this task, you will preprocess the Movie dataset and construct a **graph representation** where:
- **Users** are connected to the movies they have rated.
- **Movies** are connected to users who have rated them.
  
This graph structure will help in exploring **user-movie relationships** for recommendations.

#### **Step 1: Merge Ratings with Movie Titles**
Since we have **movie IDs** in the ratings dataset but need human-readable movie titles, we will:
1. Merge the `ratings` DataFrame with the `movies` DataFrame using the `'movie_id'` column.
2. This allows each rating to be associated with a **movie title**.

#### **Hint:**
Use the following Pandas operation to merge:
```python
ratings = ratings.merge(movies, on='movie_id')
```


#### **Step 2: Aggregate Ratings**
Since multiple users may rate the same movie multiple times, we:
1. Group the dataset by `['user_id', 'movie_id', 'title']`.
2. Compute the **mean rating** for each movie by each user.
3. Reset the index to ensure we maintain a clean DataFrame structure.

#### **Hint:**  
Use `groupby()` and `mean()` as follows:
```python
ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()
```

#### **Step 3: Normalize Ratings**
Since different users have different rating biases, we normalize ratings by:
1. **Computing each user's mean rating**.
2. **Subtracting the mean rating** from each individual rating.

#### **Instructions:**
- Use `groupby('user_id')` to group ratings by users.
- Apply `transform(lambda x: x - x.mean())` to adjust ratings.

#### **Hint:**  
Normalize ratings using:
```python
ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())
```
This ensures each user’s ratings are centered around zero, making similarity calculations fairer.

#### **Step 4: Construct the Graph Representation**
We represent the user-movie interactions as an **undirected graph** using an **adjacency list**:
- Each **user** is a node connected to movies they rated.
- Each **movie** is a node connected to users who rated it.

#### **Graph Construction Steps:**
1. Initialize an empty dictionary `graph = {}`.
2. Iterate through the **ratings dataset**.
3. For each `user_id` and `movie_id` pair:
   - Add the movie to the user’s set of connections.
   - Add the user to the movie’s set of connections.

#### **Hint:**  
The following code builds the graph:

```python
graph = {}
for _, row in ratings.iterrows():
    user, movie = row['user_id'], row['movie_id']
    if user not in graph:
        graph[user] = set()
    if movie not in graph:
        graph[movie] = set()
    graph[user].add(movie)
    graph[movie].add(user)
```

This results in a **bipartite graph**, where:
- **Users** are connected to multiple movies.
- **Movies** are connected to multiple users.

#### **Step 5: Understanding the Graph**
- **Nodes** in the graph represent **users and movies**.
- **Edges** exist between a user and a movie **if the user has rated the movie**.
- This structure allows us to find **users with similar movie tastes** and **movies frequently watched together**.

#### **Exploring the Graph**
- **Find a user’s rated movies:**  
  ```python
  user_id = 1
  print(graph[user_id])  # Movies rated by user 1
  ```

- **Find users who rated a movie:**  
  ```python
  movie_id = 50
  print(graph[movie_id])  # Users who rated movie 50
  ```

In [166]:
# Code the function here
ratings = ratings.merge(movies, on='movie_id')

ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()

ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())

graph = {}
for _, row in ratings.iterrows():
    user, movie = f"user_{row['user_id']}", f"movie_{row['movie_id']}"
    if user not in graph:
        graph[user] = set()
    if movie not in graph:
        graph[movie] = set()
    graph[user].add(movie)
    graph[movie].add(user)

user_id = 1
print(graph[f"user_{user_id}"])  


movie_id = 50
print(graph[f"movie_{movie_id}"])

{'movie_152', 'movie_82', 'movie_35', 'movie_16', 'movie_143', 'movie_163', 'movie_239', 'movie_244', 'movie_204', 'movie_49', 'movie_177', 'movie_237', 'movie_61', 'movie_252', 'movie_10', 'movie_203', 'movie_131', 'movie_232', 'movie_59', 'movie_220', 'movie_227', 'movie_262', 'movie_87', 'movie_102', 'movie_224', 'movie_89', 'movie_55', 'movie_81', 'movie_176', 'movie_4', 'movie_217', 'movie_245', 'movie_173', 'movie_115', 'movie_186', 'movie_105', 'movie_73', 'movie_228', 'movie_110', 'movie_65', 'movie_135', 'movie_92', 'movie_210', 'movie_39', 'movie_179', 'movie_77', 'movie_211', 'movie_266', 'movie_85', 'movie_95', 'movie_8', 'movie_199', 'movie_58', 'movie_30', 'movie_219', 'movie_57', 'movie_46', 'movie_136', 'movie_145', 'movie_188', 'movie_213', 'movie_250', 'movie_258', 'movie_214', 'movie_149', 'movie_231', 'movie_200', 'movie_20', 'movie_187', 'movie_86', 'movie_169', 'movie_226', 'movie_229', 'movie_99', 'movie_192', 'movie_21', 'movie_107', 'movie_68', 'movie_132', 'movie_63', 'movie_198', 'movie_272', 'movie_34', 'movie_126', 'movie_64', 'movie_165', 'movie_194', 'movie_257', 'movie_156', 'movie_261', 'movie_108', 'movie_112', 'movie_113', 'movie_159', 'movie_215', 'movie_24', 'movie_56', 'movie_146', 'movie_47', 'movie_91', 'movie_104', 'movie_26', 'movie_251', 'movie_84', 'movie_141', 'movie_71', 'movie_19', 'movie_76', 'movie_32', 'movie_72', 'movie_151', 'movie_144', 'movie_223', 'movie_109', 'movie_15', 'movie_142', 'movie_40', 'movie_225', 'movie_3', 'movie_166', 'movie_218', 'movie_183', 'movie_236', 'movie_128', 'movie_139', 'movie_80', 'movie_202', 'movie_185', 'movie_263', 'movie_148', 'movie_83', 'movie_23', 'movie_48', 'movie_170', 'movie_147', 'movie_216', 'movie_221', 'movie_11', 'movie_51', 'movie_41', 'movie_78', 'movie_193', 'movie_240', 'movie_174', 'movie_79', 'movie_158', 'movie_259', 'movie_6', 'movie_42', 'movie_52', 'movie_38', 'movie_256', 'movie_17', 'movie_196', 'movie_233', 'movie_264', 'movie_133', 'movie_50', 'movie_230', 'movie_119', 'movie_94', 'movie_190', 'movie_164', 'movie_153', 'movie_1', 'movie_207', 'movie_140', 'movie_238', 'movie_249', 'movie_123', 'movie_18', 'movie_43', 'movie_253', 'movie_14', 'movie_106', 'movie_74', 'movie_246', 'movie_70', 'movie_195', 'movie_167', 'movie_157', 'movie_184', 'movie_93', 'movie_208', 'movie_154', 'movie_27', 'movie_205', 'movie_44', 'movie_127', 'movie_90', 'movie_97', 'movie_175', 'movie_121', 'movie_234', 'movie_268', 'movie_33', 'movie_255', 'movie_5', 'movie_60', 'movie_265', 'movie_116', 'movie_137', 'movie_22', 'movie_191', 'movie_125', 'movie_9', 'movie_171', 'movie_206', 'movie_118', 'movie_25', 'movie_178', 'movie_235', 'movie_260', 'movie_98', 'movie_36', 'movie_122', 'movie_67', 'movie_241', 'movie_243', 'movie_62', 'movie_114', 'movie_37', 'movie_155', 'movie_160', 'movie_120', 'movie_66', 'movie_100', 'movie_182', 'movie_222', 'movie_53', 'movie_54', 'movie_12', 'movie_161', 'movie_269', 'movie_45', 'movie_197', 'movie_189', 'movie_270', 'movie_254', 'movie_248', 'movie_69', 'movie_2', 'movie_103', 'movie_180', 'movie_96', 'movie_212', 'movie_13', 'movie_31', 'movie_271', 'movie_28', 'movie_150', 'movie_75', 'movie_242', 'movie_172', 'movie_88', 'movie_247', 'movie_138', 'movie_168', 'movie_7', 'movie_162', 'movie_101', 'movie_209', 'movie_111', 'movie_181', 'movie_130', 'movie_117', 'movie_29', 'movie_134', 'movie_201', 'movie_124', 'movie_129'}
{'user_848', 'user_779', 'user_826', 'user_79', 'user_378', 'user_698', 'user_231', 'user_889', 'user_582', 'user_464', 'user_407', 'user_169', 'user_746', 'user_934', 'user_924', 'user_799', 'user_454', 'user_744', 'user_123', 'user_682', 'user_854', 'user_214', 'user_321', 'user_753', 'user_265', 'user_256', 'user_592', 'user_183', 'user_557', 'user_189', 'user_162', 'user_508', 'user_806', 'user_830', 'user_157', 'user_227', 'user_413', 'user_747', 'user_776', 'user_69', 'user_430', 'user_64', 'user_103', 'user_699', 'user_879', 'user_96', 'user_329', 'user_436', 'user_554', 'user_780', 'user_507', 'user_870', 'user_68', 'user_95', 'user_230', 'user_457', 'user_45', 'user_561', 'user_360', 'user_913', 'user_322', 'user_715', 'user_641', 'user_402', 'user_917', 'user_551', 'user_644', 'user_70', 'user_201', 'user_251', 'user_902', 'user_303', 'user_325', 'user_416', 'user_771', 'user_41', 'user_23', 'user_233', 'user_535', 'user_49', 'user_929', 'user_432', 'user_796', 'user_387', 'user_504', 'user_869', 'user_584', 'user_453', 'user_923', 'user_188', 'user_125', 'user_401', 'user_748', 'user_620', 'user_249', 'user_563', 'user_645', 'user_328', 'user_851', 'user_710', 'user_749', 'user_405', 'user_704', 'user_316', 'user_445', 'user_758', 'user_417', 'user_463', 'user_51', 'user_649', 'user_63', 'user_943', 'user_881', 'user_735', 'user_921', 'user_154', 'user_91', 'user_368', 'user_99', 'user_46', 'user_151', 'user_798', 'user_296', 'user_389', 'user_395', 'user_97', 'user_182', 'user_910', 'user_716', 'user_602', 'user_697', 'user_144', 'user_481', 'user_330', 'user_601', 'user_850', 'user_500', 'user_9', 'user_533', 'user_774', 'user_175', 'user_269', 'user_484', 'user_307', 'user_653', 'user_444', 'user_655', 'user_459', 'user_421', 'user_345', 'user_593', 'user_665', 'user_392', 'user_594', 'user_765', 'user_85', 'user_197', 'user_235', 'user_117', 'user_160', 'user_426', 'user_422', 'user_503', 'user_505', 'user_793', 'user_13', 'user_30', 'user_719', 'user_878', 'user_789', 'user_371', 'user_468', 'user_294', 'user_624', 'user_629', 'user_708', 'user_807', 'user_433', 'user_648', 'user_479', 'user_301', 'user_244', 'user_8', 'user_727', 'user_892', 'user_852', 'user_113', 'user_311', 'user_506', 'user_661', 'user_324', 'user_573', 'user_44', 'user_619', 'user_831', 'user_736', 'user_43', 'user_759', 'user_739', 'user_766', 'user_880', 'user_840', 'user_424', 'user_684', 'user_267', 'user_262', 'user_472', 'user_575', 'user_761', 'user_663', 'user_66', 'user_891', 'user_526', 'user_12', 'user_56', 'user_318', 'user_275', 'user_363', 'user_712', 'user_312', 'user_781', 'user_514', 'user_77', 'user_94', 'user_339', 'user_527', 'user_545', 'user_271', 'user_621', 'user_897', 'user_650', 'user_291', 'user_455', 'user_60', 'user_130', 'user_890', 'user_487', 'user_871', 'user_903', 'user_174', 'user_26', 'user_59', 'user_862', 'user_161', 'user_150', 'user_586', 'user_760', 'user_82', 'user_2', 'user_429', 'user_679', 'user_475', 'user_246', 'user_92', 'user_438', 'user_471', 'user_494', 'user_883', 'user_367', 'user_797', 'user_287', 'user_57', 'user_6', 'user_674', 'user_419', 'user_738', 'user_486', 'user_292', 'user_782', 'user_27', 'user_694', 'user_756', 'user_714', 'user_676', 'user_15', 'user_14', 'user_55', 'user_490', 'user_32', 'user_83', 'user_268', 'user_452', 'user_548', 'user_804', 'user_899', 'user_25', 'user_524', 'user_379', 'user_625', 'user_482', 'user_283', 'user_58', 'user_213', 'user_359', 'user_176', 'user_466', 'user_209', 'user_210', 'user_770', 'user_894', 'user_901', 'user_394', 'user_310', 'user_37', 'user_553', 'user_128', 'user_703', 'user_632', 'user_71', 'user_42', 'user_691', 'user_530', 'user_483', 'user_493', 'user_467', 'user_263', 'user_541', 'user_382', 'user_288', 'user_350', 'user_795', 'user_887', 'user_622', 'user_931', 'user_393', 'user_825', 'user_447', 'user_579', 'user_458', 'user_678', 'user_124', 'user_723', 'user_832', 'user_730', 'user_577', 'user_198', 'user_403', 'user_313', 'user_576', 'user_391', 'user_203', 'user_293', 'user_843', 'user_536', 'user_790', 'user_942', 'user_178', 'user_109', 'user_137', 'user_940', 'user_701', 'user_101', 'user_711', 'user_450', 'user_660', 'user_194', 'user_192', 'user_936', 'user_5', 'user_610', 'user_552', 'user_89', 'user_53', 'user_386', 'user_938', 'user_185', 'user_340', 'user_245', 'user_538', 'user_666', 'user_588', 'user_370', 'user_595', 'user_634', 'user_671', 'user_764', 'user_119', 'user_517', 'user_658', 'user_930', 'user_347', 'user_893', 'user_597', 'user_320', 'user_546', 'user_847', 'user_337', 'user_815', 'user_336', 'user_216', 'user_65', 'user_254', 'user_596', 'user_121', 'user_221', 'user_326', 'user_509', 'user_741', 'user_148', 'user_308', 'user_834', 'user_22', 'user_461', 'user_537', 'user_638', 'user_838', 'user_757', 'user_488', 'user_672', 'user_567', 'user_569', 'user_115', 'user_654', 'user_102', 'user_184', 'user_742', 'user_373', 'user_332', 'user_933', 'user_637', 'user_200', 'user_600', 'user_435', 'user_120', 'user_352', 'user_250', 'user_116', 'user_562', 'user_257', 'user_334', 'user_411', 'user_800', 'user_286', 'user_7', 'user_20', 'user_689', 'user_580', 'user_290', 'user_425', 'user_895', 'user_717', 'user_297', 'user_875', 'user_540', 'user_346', 'user_542', 'user_662', 'user_327', 'user_127', 'user_659', 'user_786', 'user_922', 'user_215', 'user_247', 'user_618', 'user_700', 'user_709', 'user_908', 'user_62', 'user_499', 'user_399', 'user_21', 'user_398', 'user_630', 'user_295', 'user_751', 'user_279', 'user_298', 'user_299', 'user_497', 'user_864', 'user_177', 'user_868', 'user_642', 'user_773', 'user_919', 'user_406', 'user_361', 'user_581', 'user_623', 'user_354', 'user_794', 'user_867', 'user_686', 'user_521', 'user_745', 'user_613', 'user_496', 'user_274', 'user_839', 'user_907', 'user_513', 'user_791', 'user_763', 'user_456', 'user_381', 'user_823', 'user_555', 'user_48', 'user_158', 'user_248', 'user_539', 'user_643', 'user_846', 'user_478', 'user_498', 'user_550', 'user_835', 'user_937', 'user_234', 'user_253', 'user_721', 'user_1', 'user_108', 'user_480', 'user_916', 'user_72', 'user_465', 'user_474', 'user_374', 'user_280', 'user_523', 'user_145', 'user_680', 'user_10', 'user_886', 'user_276', 'user_217', 'user_885', 'user_706', 'user_385', 'user_833', 'user_495', 'user_409', 'user_512', 'user_344', 'user_239', 'user_153', 'user_566', 'user_343', 'user_28', 'user_104', 'user_270', 'user_437', 'user_805', 'user_141', 'user_564', 'user_608', 'user_369', 'user_669', 'user_18', 'user_882', 'user_516', 'user_87', 'user_470', 'user_380', 'user_323', 'user_606', 'user_664', 'user_305', 'user_397', 'user_236', 'user_693', 'user_785', 'user_549', 'user_272', 'user_54', 'user_896', 'user_232', 'user_560', 'user_668', 'user_4', 'user_222', 'user_132', 'user_768', 'user_80', 'user_633', 'user_705', 'user_734', 'user_844', 'user_528', 'user_603', 'user_277'}

## `Adjacency List` Details

First, we will merge the DataFrame ratings with the movies DataFrame on the column movie_id. Then, we will group the data so that for each user, movie, and title combination, we collect all associated rating rows. Finally, subtract the mean user rating from each user’s ratings.
```python
# Code the function here
ratings = ratings.merge(movies, on='movie_id')

ratings = ratings.groupby(['user_id', 'movie_id', 'title'])['rating'].mean().reset_index()

ratings['rating'] = ratings.groupby('user_id')['rating'].transform(lambda x: x - x.mean())
```

We will build the bipartite graph using unique keys to differentiate between the users and movies. For each row, they will append each movie and user their corresponding user and movie. This will create a graph that makes users -> movies -> users, meaning it is a bipartite graph. Once the loop is finished, the users and movies are finished being added.
```python
graph = {}
for _, row in ratings.iterrows():
    user, movie = f"user_{row['user_id']}", f"movie_{row['movie_id']}"
    if user not in graph:
        graph[user] = set()
    if movie not in graph:
        graph[movie] = set()
    graph[user].add(movie)
    graph[movie].add(user)
```

### **Implement Weighted Random Walks**

#### **Random Walk-Based Movie Recommendation System (Weighted Pixie)**

#### **Objective**
In this task, you will implement a **random-walk-based recommendation algorithm** using the **Weighted Pixie** method. This technique uses a **user-movie bipartite graph** to recommend movies by simulating a random walk from a given user or movie.

#### **Step 1: Import Required Libraries**
Make sure you have the necessary libraries:

```python
import random  # For random walks
import pandas as pd  # For handling data
```

#### **Step 2: Implement the Random Walk Algorithm**
Your task is to **simulate a random walk** from a given starting point in the **bipartite user-movie graph**.

##### **Hints for Implementation**
- Start from **either a user or a movie**.
- At each step, **randomly move** to a connected node.
- Keep track of **how many times each movie is visited**.
- After completing the walk, **rank movies by visit count**.

#### **Step 3: Implement User-Based Recommendation**
**Hints:**
- Check if the `user_id` exists in the `graph`.
- Start a loop that runs for `walk_length` steps.
- Randomly pick a **connected node** (user or movie).
- Track how many times each **movie** is visited.
- Sort movies by visit frequency and return the **top N**.

#### **Step 4: Implement Movie-Based Recommendation**
**Hints:**
- Find the `movie_id` corresponding to the given `movie_name`.
- Ensure the movie exists in the `graph`.
- Start a random walk from that movie.
- Follow the same **tracking and ranking** process as the user-based version.

**Note:**  
**Your task:** Implement a function `weighted_pixie_recommend(user_id, walk_length=15, num=5)` or `weighted_pixie_recommend(movie_name, walk_length=15, num=5)`.  
**Implement either Step 3 or Step 4.**

#### **Step 5: Running Your Recommendation System**
Once your function is implemented, test it by calling:

##### **Example: User-Based Recommendation**
```python
weighted_pixie_recommend(1, walk_length=15, num=5)
```
| Ranking | Movie Name                     |
|---------|--------------------------------|
| 1       | My Own Private Idaho (1991)   |
| 2       | Aladdin (1992)                |
| 3       | 12 Angry Men (1957)           |
| 4       | Happy Gilmore (1996)          |
| 5       | Copycat (1995)                |


##### **Example: Movie-Based Recommendation**
```python
weighted_pixie_recommend("Jurassic Park (1993)", walk_length=10, num=5)
```
| Ranking | Movie Name                           |
|---------|-------------------------------------|
| 1       | Rear Window (1954)                 |
| 2       | Great Dictator, The (1940)         |
| 3       | Field of Dreams (1989)             |
| 4       | Casablanca (1942)                  |
| 5       | Nightmare Before Christmas, The (1993) |

#### **Step 6: Understanding the Results**
Your function should return a **DataFrame** structured as follows:

| Ranking | Movie Name |
|---------|-----------|
| 1       | Movie A   |
| 2       | Movie B   |
| 3       | Movie C   |
| 4       | Movie D   |
| 5       | Movie E   |

Each movie is ranked based on **how frequently it was visited** during the walk.

#### **Experiment with Different Parameters**
- Try different **`walk_length`** values and observe how it changes recommendations.
- Adjust the number of recommended movies (`num`).

In [176]:
# Code the function here
import random  # For random walks
import pandas as pd  # For handling data

def weighted_pixie_recommend(graph, user_id, walk_length=15, num=5):
    # Start from either a user or a movie.

    if not isinstance(user_id, int) or f"user_{user_id}" not in graph:
        # Check if the user_id exists in the graph.
        print("Invalid user_id")
        return pd.DataFrame({"Ranking": [], "Movie Name": []})

    movie_count = {}
    totSteps = 0
    N = 15

    
    while totSteps < N:
        curr_user = f"user_{user_id}"
        
        
        for _ in range(walk_length):
            all_movie_neighbors = list(graph[curr_user])
            
            # At each step, randomly move to a connected node.
            random_movie = random.choice(all_movie_neighbors)
    
            # Keep track of how many times each movie is visited.
            
            movie_count[random_movie] = 1 + movie_count.get(random_movie, 0)

            all_user_neighbors = list(graph[random_movie])
                
            curr_user = random.choice(all_user_neighbors)
    
        totSteps += 1

    movie_count = [(int(movie_id[len('movie_'):]),count) for movie_id, count in movie_count.items()]

    movie_dataframe = pd.DataFrame(movie_count, columns=['movie_id', 'count'])

    # After completing the walk, rank movies by visit count.
    top_movie_ids = movie_dataframe.sort_values(by=['movie_id'], ascending=False).head(num).movie_id

    recommended_movies = movies[movies['movie_id'].isin(top_movie_ids)]

    recommended_movies = recommended_movies.set_index('movie_id').loc[top_movie_ids]

    movie_names = recommended_movies['title'].tolist()

    result_df = pd.DataFrame({
        'Ranking': range(1, len(movie_names) + 1),
        'Movie Name': movie_names
    })
    
    result_df.set_index('Ranking', inplace=True)
    
    return result_df
    
print(weighted_pixie_recommend(graph, 1, walk_length=15, num=5))

                                    Movie Name
Ranking
1         Clean Slate (Coup de Torchon) (1981)
2                     Ladybird Ladybird (1994)
3                        Withnail and I (1987)
4                     Meet Wally Sparks (1997)
5        National Lampoon's Senior Trip (1995)

## `weighted_pixie_recommend` Function Details

Handle all of the imports for the function.
```python
import random  # For random walks
import pandas as pd  # For handling data
```

First, we will initialize the `movie_count`, `totSteps`, and `N`. `totSteps` and `N` were both used in the original paper for Pixie and show not be overlooked. In the function, we will determine if the `user_id` is an int. If not, we will return with an empty DataFrame. 
```python
def weighted_pixie_recommend(graph, user_id, walk_length=15, num=5):
    if not isinstance(user_id, int) or f"user_{user_id}" not in graph:
        print("Invalid user_id")
        return pd.DataFrame({"Ranking": [], "Movie Name": []})

    movie_count = {}
    totSteps = 0
    N = 15
```

We start the loop, if `totSteps` is greater than or equal to `N` we stop the loop. While in the loop we start at node `user_{user_id}` and then we will go through the `walk_length`. We will randomly choose a node at each user's `all_movie_neighbors`. Once we have a `random_movie` we will increment the counter by 1, meaning we have visited the movies once. Then, we will find every edge leading away from `random_movie` and we will again randomly select a node at `all_user_neighbors`. That will be the `curr_user` and we will do that until `walk_length` is finished. We do that until `totSteps` is greater than or equal to `N`. 
```python
    while totSteps < N:

        curr_user = f"user_{user_id}"
        
        
        for _ in range(walk_length):
            all_movie_neighbors = list(graph[curr_user])
            
            random_movie = random.choice(all_movie_neighbors)
    
            movie_count[random_movie] = 1 + movie_count.get(random_movie, 0)

            all_user_neighbors = list(graph[random_movie])
                
            curr_user = random.choice(all_user_neighbors)
    
        totSteps += 1
```

Then, we count each change in the format of the movie to be `movie_id` without the `movie_`. Then we will get the `movie_count`. Finally, we will make the `movie_count` into a dataframe with the columns `movie_id` and `count` which will be named `movie_dataframe`. After that, we sort to find the top num `movie_id` and store that in `top_movie_ids`. 
```python
    movie_count = [(int(movie_id[len('movie_'):]),count) for movie_id, count in movie_count.items()]

    movie_dataframe = pd.DataFrame(movie_count, columns=['movie_id', 'count'])

    top_movie_ids = movie_dataframe.sort_values(by=['movie_id'], ascending=False).head(num).movie_id
```

Finally, we will curate the movies in a visually appealing list using the id, and output to the user in a readable format.
```python
    recommended_movies = movies[movies['movie_id'].isin(top_movie_ids)]

    recommended_movies = recommended_movies.set_index('movie_id').loc[top_movie_ids]

    movie_names = recommended_movies['title'].tolist()

    result_df = pd.DataFrame({
        'Ranking': range(1, len(movie_names) + 1),
        'Movie Name': movie_names
    })
    
    result_df.set_index('Ranking', inplace=True)
    
    return result_df
```

## Results & Interpretation (Provides meaningful insights from the recommendation system's output)

I found that user-based collaborative filtering performed the worst. Some movies were comedies and others were documentaries or action movies. Since the recommendations are based on the most similar users’ best-rated movies, it has a very diverse set of movies that it recommends. The diversity can be a plus side, but it likely confuses the user as they never showed interest in that particular genre or time period. Item-based collaborative filtering recommendations performed the best. The item-based collaborative filtering results are very similar to one another. Each of the movies was an action movie from 1980-1995. However, these recommendations lack diversity, but precisely understand which movies the user will enjoy. Finally, the Pixie random walk performed well. It was able to determine the good movies that similar users enjoy that could be useful. If the user has already watched the recommended items, item-based and user-based recommendation number variables would need to be extended. Adversely, random walks would need to be rerun to determine a new set of outputs. This is because item-based and user-based recommendations are deterministic, always finding the top elements. Random walks have a much higher chance of finding new elements each time the algorithm is run.

---

## **Submission Requirements:**

To successfully complete this assignment, ensure that you submit the following:


### **1. Jupyter Notebook Submission**
- Submit a **fully completed Jupyter Notebook** that includes:
  - **All implemented recommendation functions** (user-based, item-based, and random walk-based recommendations).
  - **Code explanations** in markdown cells to describe each step.
  - **Results and insights** from running your recommendation models.


### **2. Explanation of Pixie-Inspired Algorithms (3-5 Paragraphs)**
- Write a **detailed explanation** of **Pixie-inspired random walk algorithms** used for recommendations.
- Your explanation should cover:
  - What **Pixie-inspired recommendation systems** are.
  - How **random walks** help in identifying relevant recommendations.
  - Any real-world applications of such algorithms in industry.


### **3. Report for the Submitted Notebook**
Your report should be structured as follows:

#### **Title: Movie Recommendation System Report**

#### **1. Introduction**
- Briefly introduce **movie recommendation systems** and why they are important.
- Explain the **different approaches used** (user-based, item-based, random-walk).

#### **2. Dataset Description**
- Describe the **MovieLens 100K dataset**:
  - Number of users, movies, and ratings.
  - What features were used.
  - Any preprocessing performed.

#### **3. Methodology**
- Explain the three recommendation techniques implemented:
  - **User-based collaborative filtering** (how user similarity was calculated).
  - **Item-based collaborative filtering** (how item similarity was determined).
  - **Random-walk-based Pixie algorithm** (why graph-based approaches are effective).
  
#### **4. Implementation Details**
- Discuss the steps taken to build the functions.
- Describe how the **adjacency list graph** was created.
- Explain how **random walks** were performed and how visited movies were ranked.

#### **5. Results and Evaluation**
- Present **example outputs** from each recommendation approach.
- Compare the different methods in terms of accuracy and usefulness.
- Discuss any **limitations** in the implementation.

#### **6. Conclusion**
- Summarize the key takeaways from the project.
- Discuss potential improvements (e.g., **hybrid models, additional features**).
- Suggest real-world applications of the methods used.

### **Submission Instructions**

- Submit `.zip` file consisting of Jupyter Notebook and all the datafiles (provided) and the ones saved [i.e. `users.csv`, `movies.csv` and `ratings.csv`]. Also, include the Report and Pixie Algorithm explanation document.
- [`Bonus 10 Points`] **Upload your Jupyter Notebook, Explanation Document, and Report** to your GitHub repository.
- Ensure the repository is public and contains:
  - `users.csv`, `movies.csv` and `ratings.csv` [These are the Dataframes which were created in part 1. Save and export them as a `.csv` file]
  - `Movie_Recommendation.ipynb`
  - `Pixie_Algorithm_Explanation.pdf` or `.md`
  - `Recommendation_Report.pdf` or `.md`
- **Submit the GitHub repository link in the cell below.**


#### **Example Submission Format**
```text
GitHub Repository: https://github.com/username/Movie-Recommendation
```

# Submit the Github Link here:
[https://github.com/sudo-amancodes/movie-recommender-systems](https://github.com/sudo-amancodes/movie-recommender-systems)

### **Grading Rubric: ITCS 6162 - Data Mining Assignment**


| **Category**                              | **Criteria**                                                     | **Points** |
|-------------------------------------------|----------------------------------------------------------------|------------|
| **Part 1: Exploring and Cleaning Data (15 pts)**  | Properly loads `u.user`, `u.movies`, and `u.item` datasets into DataFrames | 5 |
|                                           | Handles missing values, duplicates, and inconsistencies appropriately | 5 |
|                                           | Saves the cleaned datasets into CSV files: `users.csv`, `movies.csv`, `ratings.csv` | 5 |
| **Part 2: Collaborative Filtering-Based Recommendation (30 pts)** | Implements user-based collaborative filtering correctly | 10 |
|                                           | Implements item-based collaborative filtering correctly | 10 |
|                                           | Computes similarity measures accurately and provides valid recommendations | 10 |
| **Part 3: Graph-Based Recommender (Pixie-Inspired Algorithm) (35 pts)** | Constructs adjacency lists properly from user-movie interactions | 10 |
|                                           | Implements weighted random walk-based recommendation correctly | 15 |
|                                           | Explains and justifies the algorithm design choices (Pixie-inspired) | 10 |
| **Code Quality & Documentation (10 pts)** | Code is well-structured, efficient, and follows best practices | 5 |
|                                           | Markdown explanations and comments are clear and enhance understanding | 5 |
| **Results & Interpretation (5 pts)**      | Provides meaningful insights from the recommendation system's output | 5 |
| **Submission & Report (5 pts)**          | Submits all required files in the correct format (ZIP file with Jupyter notebook, processed CSV files, and project report) | 5 |
| **Total**                                 |                              | 100 |

#### **Bonus (10 pts)**
| **Category**                              | **Criteria**                                                     | **Points** |
|-------------------------------------------|----------------------------------------------------------------|------------|
| **GitHub Submission**                     | Provides a well-documented GitHub repository with CSV files, a structured README, and a properly formatted Jupyter Notebook | 10 |